
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id ='alien' class = 'com.yash.Alien'>
    <property name="age" value="21"></property>
    <property name="lap" ref="lap1"></property>
</bean>
    <bean id="lap1" class="com.yash.Laptop"></bean>
</beans>